.confirm-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #03051e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirm-title {
    margin: 0;
    padding: 3px 20px;
    background-color: white;
    font-family: monospace;
    font-size: 3rem;
    color: #fa1616;
}
.confirm-text {
    font-family: monospace;
    font-size: 2rem;
    color:#2ecc71;
}
.confirm-btn {
    font-size: 1.5rem;
    font-family: monospace;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin: 0 20px;
    transition: all .3s ease;
}
.confirm-btn:hover {
    transform: scale(1.04);
}
.yes-btn {
    background-color: #ff3f34;
}
.no-btn {
    background-color: #0097e6;
}